@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    animation-duration: 0.4s;
}

body {
    font-family: "Montserrat", sans-serif; 
}

header {
    border-bottom: 5px solid $banner; 
    position: fixed;
    z-index: 9999999;
    background-color: white;
    width: 100%;
        img {
        position: relative;
        z-index: 9999999;
        display: block;
        width: 65%;
        max-width: 285px;
        margin: 10px 0 10px 10px;
        transition: all 0.3s ease-in-out;
        &:hover {
            opacity: 0.8;
        }
    }

    #navicon {
        top: 30px;
        right: 20px;
        position: fixed;
        width: 35px;
        height: 25px;
        z-index: 999999;
        // margin: 50px auto;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        // overflow: hidden;
        opacity: 1;
        span {
            display: block;
            background: $sig-blue;
            width: 85%;
            height: 4px;
            position: absolute;
            border-radius: 5px;
            transition: all 0.3s ease-in-out;
            left: 0;
        }   
    }

    #navicon span:nth-child(1) {
      top: 0px;
    }

    #navicon span:nth-child(2),#navicon span:nth-child(3) {
      top: 8px;
    }

    #navicon span:nth-child(4) {
      top: 16px;
    }

    #navicon.open span:nth-child(1) {
      top: 14px;
      width: 0%;
      left: 50%;
    }

    #navicon.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    #navicon.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    #navicon.open span:nth-child(4) {
      top: 14px;
      width: 0%;
      left: 50%;
    }

    nav {
        position: relative;
        top: -200px;
        opacity: 0;
        z-index: 9;
        transition: all 0.3s ease-in-out;
        ul {
            text-align: center;
            list-style-type: none;
            background-color: white;
            padding: 0;
            position: relative;
            margin: 0;
            // top: 50%;
            // transform: tranlateY(-50%);
            li {
                cursor: pointer;
                display: block;
                padding: 13px 10px;
                a {
                    font-size: 20px;
                    text-decoration: none;
                    color: $sig-blue;
                    transition: all 0.3s ease-in-out;                
                    &:hover {
                        text-decoration: none;
                        color: $sig-gold;
                    }
                }    
            }
        }    
    }
} 

nav.open {
    top: 0;
    opacity: 1;
    z-index: 9;
    ul { 
        border-top: 5px solid $banner;
        border-bottom: 5px solid $banner;  
        li{
            a{

            }
        }
    }
}

.landing-info {
    // position: relative;
    // top: 0;
    padding: 200px 0;
    text-align: center;
    background-color: $banner;
    transition: all 0.3s ease-in-out;
    h1 {
        margin: 0 10px 40px;
        font-size: 28px;
        line-height: 40px;
        color: $sig-blue;
        text-transform: uppercase;
        letter-spacing: 0px;
        word-spacing: 5px;
        font-weight: 600;         
    }
    .button {
        position: relative;
        background-color: $sig-gold;
        text-align: center;
        margin: 0 auto;
        border-radius: 5px;
        // padding: 0;
        font-size: 18px;
        // color: white;
        a {
           color: white;
           text-decoration: none;
           padding: 15px 15px;
           display: block;  
            h2 {
                font-weight: 100;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
            }
        }      
    }           
}

// .button a {
//     width: 300px;
// }

.landing-info .button {
    width: 200px;
}

// .button {
//     a {
//         color: white;
//         text-decoration: none;
//         padding: 15px 15px;
//         display: block; 
//     }   
// }

.below-header {
    position: relative;
    top: 0;
    transition: all 0.3s ease-in-out;
}

hr {
    display: none;
}

.below-header.push {
    top: 280px;
}

.subtitle-banner {
    position: relative;
    top: 0;
    border-bottom: 2px solid $sig-gold;
    background-color: $banner;
    padding: 10px 0 9px 0;
        h2 {
        margin: 0;
        color: $sig-blue;
        font-size: 18px;
        // text-transform: uppercase;
        padding-left: 20px;
    }
}

.below-header p {
    position: relative;
    margin: 20px;
    font-size: 14px;
}

p {
    color: $sig-blue;
    margin: 50px 20px 20px;
    line-height: 30px;   
}

.testimonials p {
    box-shadow: 5px 5px 5px gray;
    background-color: $sig-blue;
    padding: 10px;
    color: white;
    border-radius: 5px;
    line-height: 25px;
}

.underline a {
    text-decoration: underline;
}

.images {
    padding: 50px 50px;
    text-align: center;
    display: block;
    img {
        width: 100%;
        padding: 7px 0;
    }
}

.below-header {
    footer {
        background-color: $banner;
        position: relative;
        p {
            padding: 25px 0;
            margin: 0;
            font-size: 10px;
            line-height: 15px;
            text-align: center;
        }
    }    
}

// MEDIA QUERIES -------------------------------------

// LARGE PHONE --------------------------------
@media screen and (min-width: 350px) {

}    

// SMALL TABLET -------------------------------
@media screen and (min-width: 480px) {
    .images {
        padding: 50px 50px;
        text-align: center;
        img {
            width: 70%;
            padding: 7px 0;
        }
    }

    .below-header p {
        margin: 20px 40px;
    }
}

// LARGE TABLET -------------------------------
@media screen and (min-width: 768px) {
    #navicon {
        display: none;
    }

    header {
        // border: none;
        position: relative;
        img {
            float: left;
            width: 275px;
            padding: 15px 0 0 15px;
            margin: 0;
            transition: all 0.3s ease-in-out;
            &:hover {
                opacity: 0.8;
            }
        }
        .container {
            display: none;
        }
        nav {
            top: 0;
            opacity: 1;
            display: inherit;
            float: right;
            // width: 75%;
            ul {
                text-align: right;
                list-style-type: none;
                // padding: 0;
                position: relative;
                // top: 50%;
                // transform: tranlateY(-50%);
                li {
                    cursor: pointer;
                    display: inline;
                    padding: 5px 15px;
                    a {
                        font-size: 16px;
                        text-decoration: none;
                        color: $sig-blue;
                        transition: all 0.3s ease-in-out;                
                        &:hover {
                            text-decoration: none;
                            color: $sig-gold;
                        }

                        span {
                            color: $sig-gold;
                        }
                    }    
                }
            }    
        }
    } 

    .landing-info {
        padding: 200px 0;
        text-align: center;
        background-color: $banner;
        h1 {
            font-size: 50px;
            line-height: 60px;
            color: $sig-blue;
            text-transform: uppercase;
            letter-spacing: 0px;
            word-spacing: 5px;
            font-weight: 600;         
        }
        .button {
            cursor: pointer;
            width: 265px;  
            font-size: 26px; 
            transition: all 0.3s ease-in-out;
            &:hover {
                opacity: 0.8;
            } 
        } 
    }

    .subtitle-banner {
        background-color: white;
        border-bottom: none;
        padding: 30px 0 20px 0;
        h2 {
            font-size: 25px;
            padding-left: 75px;
        }
    }

    .below-header p {
        font-size: 16px;
        line-height: 35px;
        margin: 30px 75px;
    }

    hr {
        display: inherit;
        border-top: 3px solid $sig-gold;
        width: 60px;
        float: left;
        margin: 18px 0 0 75px;
    } 

    .images {
        padding: 50px 25px;
        text-align: center;
        img {
            width: 30%;
            padding: 0 3px;
        }
    }

    .below-header footer p {
        font-size: 12px;
    } 
}  



// SMALL LAPTOP/DESKTOP -----------------------
@media screen and (min-width: 992px) {
    header {
        nav {
            ul {
                li {
                    padding: 5px 30px;
                }
            }    
        }
    }

    .images {
        padding: 50px 50px;
        text-align: center;
        img {
            width: 30%;
            padding: 0 3px;
        }
    }

    .subtitle-banner {
        h2 {
            padding-left: 100px;
        }
    }
    .below-header p {
        margin: 30px 100px;
    }
    hr {
        margin: 18px 0 0 100px;
    }
}       

// MEDIUM LAPTOP/DESKTOP ----------------------
@media screen and (min-width: 1200px) {
    .images {
        padding: 50px 75px;
        text-align: center;
        img {
            width: 30%;
            padding: 0 3px;
        }
    }

    .subtitle-banner {
        h2 {
            padding-left: 150px;
        }
    }
    .below-header p {
        margin: 30px 150px;
    }
    hr {
        margin: 18px 0 0 150px;
    }
}           

// LARGE LAPTOP/DESKTOP -----------------------
@media screen and (min-width: 1200px) {
    .subtitle-banner {
        h2 {
            padding-left: 200px;
        }
    }
    .below-header p {
        margin: 30px 200px;
    }
    hr {
        margin: 18px 0 0 200px;
    }
} 

@media screen and (min-width: 1400px) {
    .subtitle-banner {
        h2 {
            padding-left: 275px;
        }
    }
    .below-header p {
        margin: 30px 275px;
    }
    hr {
        margin: 18px 0 0 275px;
    }              
}      
