@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    animation-duration: 0.4s;
}

body {
    font-family: "Montserrat", sans-serif; 
}

header {
    // height: 110px;
    img {
        width: 275px;
        padding: 10px 0 0 10px;
        transition: all 0.3s ease-in-out;
        &:hover {
            opacity: 0.8;
        }
    }
    nav {
        float: right;
        // width: 75%;
        ul {
            text-align: right;
            list-style-type: none;
            // margin: 47px 0;
            padding: 0;
            position: relative;
            top: 50%;
            transform: tranlateY(-50%);
            li {
                cursor: pointer;
                display: inline;
                padding: 5px 30px;
                a {
                    font-size: 16px;
                    text-decoration: none;
                    color: $sig-blue;
                    transition: all 0.3s ease-in-out;                
                    &:hover {
                        text-decoration: none;
                        color: $sig-gold;
                    }
                }    
            }
        }    
    }
} 

.landing-info {
    padding: 200px 0;
    text-align: center;
    background-color: #f0f0f0;
    h1 {
        font-size: 50px;
        color: $sig-blue;
        text-transform: uppercase;
        letter-spacing: 0px;
        word-spacing: 5px;
        font-weight: 600;         
    }
    h2 {
            font-size: 25px;
            font-weight: 100;
            color: $sig-gold;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            &:hover {
                color: gray;
            }
        }    
}
  